@import '../../design_file/fonts/fonts.css';
@import '../../design_file/colors_and_type.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-family: var(--font-sans);
    background: var(--bg-0);
    color: var(--text-0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  * {
    border-color: var(--border);
  }
}
